.image-container {
  width: 100vw;
  max-height: 100vh;
  padding: 10%;
}

.imageincontainer {
  width: 100%;
  height: 100%;
}

@media (orientation: portrait) {

  .centered-image,
  .centered-image img {
    width: 100% !important;
    max-height: 40vh;
  }

  .welcome-container {
    width: 90% !important;
  }
}

.welcome-container {
  display: flex;
  flex-direction: column;
  /* Stack the child elements vertically */
  justify-content: center;
  /* Center the items along the main axis (vertical now) */
  align-items: center;
  /* Align items horizontally at the center */
  width: 65%;
  margin: auto;
  /* Center the container itself */
  margin-bottom: 20px;
  /* Space below the container */
}

.welcome-container>* {
  flex-grow: 0;
  /* No need for flex-grow as the items are stacked vertically */
  margin-bottom: 10px;
  /* Optional: Add space between child elements */
}