<div class="image-container">
  <p-image
    class="centered-image"
    src="/assets/logos/logo_full_16to9.png"
  ></p-image>
</div>
<div class="welcome-container">
  <p-card header="Was ist Zeitvertreib?">
    <p class="leading-relaxed">
      Zeitvertreib ist ein anfängerfreundlicher Server für das Spiel
      <strong>SCP: Secret Laboratory</strong> auf Steam. Unser Ziel ist es,
      neuen Spieler:innen den Einstieg in die Welt von SCP: Secret Laboratory zu
      erleichtern und gleichzeitig erfahrenen Spieler:innen ein erweitertes und
      komfortableres Spielerlebnis zu bieten.
    </p>
  </p-card>

  <div class="h-[10rem]"></div>
  <div class="flex flex-wrap justify-center gap-8">
    <div
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
      class="flex flex-col bg-primary/15 backdrop-blur-md text-primary-contrast border-primary shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4"
    >
      <div
        class="rounded-full border-2 border-white w-12 h-12 flex items-center justify-center"
      >
        <i class="pi pi-map-marker !text-2xl"></i>
      </div>
      <span class="text-2xl font-bold">Standort</span>
      <span class="text-center"
        >Server in Nürnberg - zentral in Deutschland, nah an Österreich.</span
      >
    </div>
    <div
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 zoom-in-75 animate-duration-1000"
      class="flex flex-col bg-primary/15 backdrop-blur-md text-primary-contrast border-primary shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4"
    >
      <div
        class="rounded-full border-2 border-white w-12 h-12 flex items-center justify-center"
      >
        <i class="pi pi-crown !text-2xl"></i>
      </div>
      <span class="text-2xl font-bold">Gameplay</span>
      <span class="text-center"
        >Vanilla Feeling mit sinnvollen QoL-Plugins - perfekt abgestimmt.</span
      >
    </div>
    <div
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
      class="flex flex-col bg-primary/15 backdrop-blur-md text-primary-contrast border-primary shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4"
    >
      <div
        class="rounded-full border-2 border-white w-12 h-12 flex items-center justify-center"
      >
        <i class="pi pi-shield !text-2xl"></i>
      </div>
      <span class="text-2xl font-bold">Moderation</span>
      <span class="text-center"
        >Unser aktives Team sorgt für Fairness und schnelle Hilfe.</span
      >
    </div>
  </div>

  <div class="h-[5rem]"></div>
  <div class="flex flex-wrap justify-center gap-8">
    <div
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
      class="flex flex-col bg-primary/15 backdrop-blur-md text-primary-contrast border-primary shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4"
    >
      <span class="bg-white/20 text-xl font-medium rounded-xl px-4 py-2"
        >300+</span
      >
      <span class="text-2xl font-bold">Spieler</span>
      <span class="text-center"
        >Täglich kommen neue Spieler auf unseren Discord!</span
      >
    </div>
    <div
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
      class="flex flex-col bg-primary/15 backdrop-blur-md text-primary-contrast border-primary shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4"
    >
      <span class="bg-white/20 text-xl font-medium rounded-xl px-4 py-2"
        >2</span
      >
      <span class="text-2xl font-bold">Server</span>
      <span class="text-center"
        >Ein zweiter Server steht immer als Backup bereit.</span
      >
    </div>
    <div
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
      class="flex flex-col bg-primary/15 backdrop-blur-md text-primary-contrast border-primary shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4"
    >
      <span class="bg-white/20 text-xl font-medium rounded-xl px-4 py-2"
        >4+</span
      >
      <span class="text-2xl font-bold">Jahre</span>
      <span class="text-center"
        >Unser Projekt besteht seit über vier Jahren!</span
      >
    </div>
  </div>

  <p-galleria
    pAnimateOnScroll
    enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
    class="my-8"
    [value]="images"
    [autoPlay]="true"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [numVisible]="5"
  >
    <ng-template #item let-item>
      <img
        [src]="'/assets/showcase/full/' + item"
        style="width: 100%; display: block"
      />
    </ng-template>
    <ng-template #thumbnail let-item>
      <img
        [src]="'/assets/showcase/tiny/' + item"
        style="width: 100px; display: block"
      />
    </ng-template>
  </p-galleria>
</div>
