/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

:root {
  --surface-a: #121212 !important;
  --surface-b: #1e1e1e !important;
  --text-color: #ffffff !important;
}

@font-face {
  font-family: "BerlinTypeWeb";
  src: url("/assets/BerlinFont/BerlinTypeWeb-Regular.woff2") format("woff2"),
    url("/assets/BerlinFont/BerlinTypeWeb-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "BerlinTypeWeb";
  src: url("/assets/BerlinFont/BerlinTypeWeb-Bold.woff2") format("woff2"),
    url("/assets/BerlinFont/BerlinTypeWeb-Bold.woff") format("woff");
  font-weight: bold;
}

body {
  font-family: "BerlinTypeWeb", sans-serif;
}

strong {
  font-weight: bold;
}

body {
  background-image: linear-gradient(
      0deg,
      rgb(92, 92, 92, 0.5) 2px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(92, 92, 92, 0.5) 2px, transparent 1px);
  background-size: 100px 100px; /* Grid spacing */
  background-position: center; /* Centers the grid pattern */
}
