/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "tailwindcss";
@import "tailwindcss-primeui";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --surface-a: #121212 !important;
  --surface-b: #1e1e1e !important;
  --text-color: #ffffff !important;
}

@font-face {
  font-family: "BerlinTypeWeb";
  src: url("/assets/BerlinFont/BerlinTypeWeb-Regular.woff2") format("woff2"),
    url("/assets/BerlinFont/BerlinTypeWeb-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "BerlinTypeWeb";
  src: url("/assets/BerlinFont/BerlinTypeWeb-Bold.woff2") format("woff2"),
    url("/assets/BerlinFont/BerlinTypeWeb-Bold.woff") format("woff");
  font-weight: bold;
}

body {
  font-family: "BerlinTypeWeb", sans-serif;
}

strong {
  font-weight: bold;
}

body {
  background: linear-gradient(
    45deg,
    hsla(273, 97%, 31%, 1) 27%,
    hsla(319, 73%, 41%, 1) 100%
  );
  background-attachment: fixed;
  background-size: cover;
}
