name: Build and Push Overwatch Docker Image

on:
  push:
    branches: ["**"]

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    defaults:
      run:
        working-directory: overwatch

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: tags
        run: |
          OWNER=$(echo "${GITHUB_REPOSITORY_OWNER}" | tr '[:upper:]' '[:lower:]')
          IMG="ghcr.io/${OWNER}/zeitvertreib-overwatch"

          if [ "${GITHUB_REF_NAME}" = "main" ]; then
            echo "tags=$IMG:latest" >> $GITHUB_OUTPUT
          else
            echo "tags=$IMG:${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
          fi

      - uses: docker/build-push-action@v4
        with:
          context: overwatch
          push: true
          tags: ${{ steps.tags.outputs.tags }}
