<div class="grid grid-cols-3 grid-rows-6 gap-2 p-4">
  <div class="col-span-2 row-span-1 p-4">
    <p-card>
      <div class="flex justify-between w-full">
        <div class="flex items-center gap-3 min-w-44">
          <div class="w-1.5 h-13 rounded-full bg-emerald-500"></div>
          <div>
            <h5 class="text-surface-500 dark:text-white/72">Kills</h5>
            <p
              class="mt-1 text-xl font-medium text-surface-950 dark:text-surface-0"
            >
              {{ userStatistics.kills }}
            </p>
          </div>
        </div>
        <div class="flex items-center gap-3 min-w-44">
          <div class="w-1.5 h-13 rounded-full bg-blue-500"></div>
          <div>
            <h5 class="text-surface-500 dark:text-white/72">Deaths</h5>
            <p
              class="mt-1 text-xl font-medium text-surface-950 dark:text-surface-0"
            >
              {{ userStatistics.deaths }}
            </p>
          </div>
        </div>
        <div class="flex items-center gap-3 min-w-44">
          <div class="w-1.5 h-13 rounded-full bg-orange-500"></div>
          <div>
            <h5 class="text-surface-500 dark:text-white/72">Experience</h5>
            <p
              class="mt-1 text-xl font-medium text-surface-950 dark:text-surface-0"
            >
              {{ userStatistics.experience }}XP
            </p>
          </div>
        </div>
        <div class="flex items-center gap-3 min-w-44">
          <div class="w-1.5 h-13 rounded-full bg-rose-500"></div>
          <div>
            <h5 class="text-surface-500 dark:text-white/72">Playtime</h5>
            <p
              class="mt-1 text-xl font-medium text-surface-950 dark:text-surface-0"
            >
              {{ (userStatistics.playtime / 60 / 60).toFixed(2) }}h
            </p>
          </div>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-span-1 row-span-3 p-4">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
      <ng-template #header>
        <img
          class="w-full h-45 object-cover object-center"
          [src]="userStatistics.avatarFull"
        />
      </ng-template>
      <ng-template #title>
        Welcome back, {{ userStatistics.username }}
      </ng-template>
      <ng-template #subtitle>
        {{
          userStatistics.leaderboardposition
            ? "Platz #" + userStatistics.leaderboardposition
            : "NOT ENOUGH DATA"
        }}
      </ng-template>

      <div style="display: flex; justify-content: space-between">
        <p>Gespielte Runden:</p>
        <p>{{ userStatistics.roundsplayed }}</p>
      </div>
      <div style="display: flex; justify-content: space-between">
        <p>Level:</p>
        <p>{{ userStatistics.level }}</p>
      </div>
      <div style="display: flex; justify-content: space-between">
        <p>Benutzte Medkits:</p>
        <p>{{ userStatistics.usedmedkits }}</p>
      </div>
      <div style="display: flex; justify-content: space-between">
        <p>Getrunkene Colas:</p>
        <p>{{ userStatistics.usedcolas }}</p>
      </div>
      <div style="display: flex; justify-content: space-between">
        <p>Pocket Dimensions entkommen:</p>
        <p>{{ userStatistics.pocketescapes }}</p>
      </div>
      <div style="display: flex; justify-content: space-between">
        <p>Benutzte Adrenalin:</p>
        <p>{{ userStatistics.usedadrenaline }}</p>
      </div>
    </p-card>
  </div>
  <div class="col-span-2 row-span-2 p-4">
    <p-card header="Some Nice Overwiev Graphs!">
      <p class="m-0">Woah maths!</p>
    </p-card>
  </div>
  <div class="col-span-2 row-span-3 p-4">
    <p-card header="More History. recent sessuions?">
      <p class="m-0">Wanna change your name?</p>
    </p-card>
  </div>
  <div class="col-span-1 row-span-3 p-4">
    <p-card header="These people killed you!" [style]="{ width: '25rem', overflow: 'hidden' }">
      <div
        *ngFor="let killer of userStatistics.lastkillers; let i = index"
        class="flex justify-between mt-6 items-center"
      >
        <p-avatar
          [image]="killer.avatarmedium"
          class="mr-4 w-13 h-13"
          shape="circle"
        ></p-avatar>
        <p class="text-xl font-bold">{{ killer.displayname }}</p>
      </div>
    </p-card>
  </div>
</div>
